body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #1C325B;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
h1 {
  text-align: center;
  font-size: 4rem;
  color: #E5E3D4;
  text-decoration: underline;
  text-underline-offset: 15px;
}
#todo-container {
  background: #E5E3D4;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  width: 80vh;
  height: 50vh;
}
#input,
.list-container {
  margin: 5px;
  display: grid;
  grid-template-columns: 210px 155px 65px;
  align-items: center;
}
#input {
  height: 60px;
  column-gap: 5px;
}
.list-container {
  width: 70vh;
  row-gap: 5px;
  overflow-y: auto;
  justify-content: center;
}
.input-todo {
  padding-left: 10px;
  background: rgb(150,150,160);
  height: 30px;
  width: 200px;
  border: none;
  border-radius: 5px;
}
.input-date {
  text-align: center;
  padding-left: 10px;
  height: 30px;
  width: 150px;
  background: rgb(150,150,160);
  border: none;
  border-radius: 5px;
}
.buttons {
  margin-left: 3px;
  height: 32px;
  width: 65px;
  border: none;
  border-radius: 5px;
  background: rgb(100, 50, 50);
  color: #E5E3D4;
}
.delete-btn {
  margin-left: 9px;
}
@media screen and (max-width: 725px) {
  #todo-container {
    width: 90vw;
  }
  #input,
  .list-container {
    grid-template-columns: 160px 120px 65px;
  }
  .input-todo {
    width: 150px;
  }
  .input-date {
    width: 115px
  }
}
@media screen and (max-width: 520px) {
  #todo-container {
    width: 85vw;
    min-width: 275px;
  }
  #input,
  .list-container {
    grid-template-columns: 90px 95px 65px;
  }
  .input-todo {
    width: 80px;
  }
  .input-date {
    width: 90px;
    font-size: 10px;
  }
}
